<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
  <style>
      html, body {
          height: 100dvh;
          font-family: 'Arial', sans-serif;
      }

      body {
          display: flex;
          flex-direction: column;
      }

      main {
          flex: 1
      }
  </style>
</head>
<body>
<main></main>
<script
  id="hw-chatbot-widget"
  type="module"
  crossorigin
  src="{% static 'chatbot.js' %}"
  data-chatbot-id="{{ id }}"
  data-fullscreen="true"
  data-toggle-text-de="Hallo, ich bin dein KI-Assistent. Für Fragen des Vereinslebens stehe ich zur Verfügung."
  data-toggle-text-en="Hello, I'm your AI assistant. I am available for questions about club life."
  data-api-url="/api"
></script>
</body>
</html>
