.sponsored-by {
  margin: 2rem auto 0 auto;
  text-align: center;

  &__link {
    font-size: 0.75em;
    line-height: 1em;
    color: #000;
    text-align: center;
  }

  img {
    width: 192px;
    height: auto;
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .hw-chatbot.hw-chatbot--fullscreen {
    .sponsored-by {
      position: absolute;
      width: 192px;
      right: 20px;
      bottom: 12px;
    }
  }
}